@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

*{ position: relative; }

ol{ list-style-type: decimal; list-style-position:inside; }

body {
	padding-bottom:50px;
}

header, footer{
	background:aliceblue;
	border: 1px solid skyblue;
	margin:0 auto;
	padding:1em 2em;
	width:960px;
}

header { overflow:auto; }

footer{
	bottom:0px;
	clear:both;
	position:relative;
}

header h1{
	font-size:2em;
	float:left;
}

header h1 img { border: 1px solid skyblue; margin-right: 1em; }

header nav {
	position:absolute;
	right: 1em;
	bottom: 1em;
}

header nav ul li { float:left; padding-left: 1em; }

div.wrapper{
	background:ghostwhite;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
	margin:0 auto;
	overflow:auto;
	padding:2em 2em;
	width:960px;
}

div.wrapper h2{
	font-size:2em;
	margin-bottom:0.5em;
	text-align:center;
	width: 100%;
}

div.wrapper figure{ float:left; margin-right:1em; }
div.wrapper figure img { margin-bottom:0.5em; }
div.wrapper p { margin-bottom: 0.5em; }
div.wrapper p cite { font-style:italic; }

div.wrapper form {
	border: 1px solid #AAA;
	margin: 1em;
	padding: 1em;
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
div.wrapper form button { display: block; }

footer p.copy{ float: right; z-index: 1; }

.green { color: #0A0; }
