div.column{ border:1px solid #000; float:left; width:20%; min-height:500px; }header div.global{	overflow:auto;float: right;	border: 1px solid black;	margin: 0 1em;	padding: 1em;}

.wrapper{ margin:1em; }
