div.column{ border:1px solid #000; float:left; width:15%; min-height:500px; }
header nav.global{	overflow:auto;	border: 1px solid black;	margin: 0 1em;	padding: 1em;}

header nav.global li{	float:left;	list-style-type:none;	margin-right:1em;}
.wrapper{ margin:1em; }
